$text-sizem1 :rem(11);
$text-sizem2 :rem(12);
$text-sizem3 :rem(13);
$text-sizem4 :rem(14);
$text-sizem5 :rem(15);
$text-sizel1 :rem(16);
$text-sizel2 :rem(17);
$text-sizel3 :rem(18);
$text-sizel4 :rem(19);
$text-sizel5 :rem(20);
.p-scroll{
    &__my-account-nav {
        opacity   : 1;
        transition: background-color .2s;
    
        // height      : calc(100vh - 150px);
        &.p-scrollpanel.p-component {
            max-width         : 100%;
            height            : calc(100vh - 150px);
            // height         : 100%;
            // padding  : 0rem 0.6666666667rem 0rem 0rem;
            padding           : rem(0) rem(0) rem(0) rem(0);
    
            .p-scrollpanel-wrapper {
                z-index: 0;
            }
    
            .p-scrollpanel-bar.p-scrollpanel-bar-y {
                background: #cccccc;
                z-index   : 0;
                transition: background-color .2s;
    
                &:hover {
                    background-color: $ge-blue;
                }
            }
        }
    
    }
    &__my-account {
        opacity   : 1;
        transition: background-color .2s;
    
        // height      : calc(100vh - 150px);
        &.p-scrollpanel.p-component {
            max-width         : 100%;
            height            : calc(100vh - 150px);
            // height         : 100%;
            // padding  : 0rem 0.6666666667rem 0rem 0rem;
            padding           : rem(0) rem(0) rem(0) rem(0);
    
            .p-scrollpanel-wrapper {
                z-index: 0;
            }
    
            .p-scrollpanel-bar.p-scrollpanel-bar-y {
                background: #cccccc;
                z-index   : 0;
                transition: background-color .2s;
    
                &:hover {
                    background-color: $ge-blue;
                }
            }
        }
    
    }
}


@media (max-width: 40rem) {
    .p-scroll__my-account.p-scrollpanel.p-component {
        height: 100%;
    }
}